.title{
    color: rgba(204, 6, 145, 0.973);
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.fillin{
    width: 300px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}

.abc{
    color: rgba(204, 6, 145, 0.973) ;
    
    
    
}
.maintable{
    display: flex;
    justify-content: center;
    margin: 50px 50px;
    
    border-radius: 140px;
    border-spacing: 50px 50px;
    
}
.maintable th, .maintable td {
    padding: 10px 20px;
    text-align: center;
}

.error{
    border: 2px solid red;
}